.header {
    background-color: #0A1828;
}

.card {
    color: #fff;
    background-color:#cc9800;
}

.container{
    color: #BFA181
}

.credits {
    color: white;
}

.credits a {
    color: rgb(67, 67, 241);
    text-decoration: underline;
}

.credits span {
    color: #BFA181

}